body
{
	margin: 0;
	overflow-x: hidden;
}
header {
	width: 100%;
	background-color: rgba(0, 0, 255, 0.25);
	padding: 7px;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 255, 0.4);
}
header.img{
	height:  30px;
}
footer {
	padding: 10px;
	background-color: rgba(0, 0, 255, 0.70) ;
  	height: 50 width: 100%;
}
footer div p{
	text-weight: bolder;
}
#top-menu .sub-menu li {
   padding-left: 0px;
   padding-right: 0px;
   width: 25%;
}